<div style="color: #6f6f65;">
<table style="width: 100%; margin-left: auto; margin-right: auto;" border="0" cellspacing="0" cellpadding="10" align="center">
<tbody>
<tr>
<td colspan="2" align="center" valign="top">
<table style="width: 740px;" border="0" cellspacing="0" cellpadding="0" align="center">
<tbody>
<tr>
<td align="right" height="20">
<div style="background-color: #4b532a; color: lightyellow; padding: 5px;"><span style="font-size: small;"><strong><span class="name">{$name}</span></strong> | <span class="dnis">{$dnis}</span></span></div>
</td>
</tr>
</tbody>
</table>
<table style="border-left-width: 1px; border-left-style: solid; border-left-color: #e7e6d7; border-right-width: 1px; border-right-style: solid; border-right-color: #e7e6d7; width: 740px;" border="0" cellspacing="0" cellpadding="0" align="center">
<tbody>
<tr>
<td>
<table style="width: 100%;" border="0" cellspacing="0" cellpadding="0" align="center">
<tbody>
<tr>
<td>
<div style="background-color: #e7e6d7;">
<table style="width: 100%;" border="0" cellspacing="0" cellpadding="7">
<tbody>
<tr>
<td colspan="2">
<table style="width: 100%;" cellspacing="0" cellpadding="1">
<tbody>
<tr valign="top">
<td align="left" valign="top" height="30">
<div style="color: #8e0700;"><span style="font-size: x-large;"><span class="pagenumbering">{$pagenumbering}</span></span></div>
</td>
</tr>
<tr>
<td align="left" valign="top" width="560">
<div style="color: #5e5e56;"><span class="title">{$title}</span></div>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td colspan="2" valign="top">
<table style="border: 1px solid #bdbcab; width: 724px;" border="0" cellspacing="0" cellpadding="4">
<tbody>
<tr>
<td align="left">
<table style="width: 100%;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top" width="350" height="35">
<div style="color: #4b532a;"><span style="font-size: large;"><span class="lolo">{$lolo}</span>BR/<span class="bath">{$bath}</span>BA</span></div>
</td>
<td valign="top">&nbsp;</td>
<td align="right" valign="top">
<div style="color: #4b532a;"><span style="font-size: large;"><span class="rent_amount">{$rent_amount}</span>/month</span></div>
</td>
</tr>
<tr>
<td valign="top">
<table style="border-top-width: 1px; border-top-style: solid; border-top-color: #bdbcab; width: 100%;" border="0" cellspacing="0" cellpadding="3">
<tbody>
<tr>
<td style="border-bottom: 1px solid #BDBCAB; font-size: 12px; font-weight: bold; color: #4b532a;">Bedrooms</td>
<td style="border-bottom: 1px solid #BDBCAB; font-size: 13px; font-weight: normal; color: #4b532a;"><span class="br">{$br}</span></td>
</tr>
<tr>
<td style="border-bottom: 1px solid #BDBCAB; font-size: 12px; font-weight: bold; color: #4b532a;">Bathrooms</td>
<td style="border-bottom: 1px solid #BDBCAB; font-size: 13px; font-weight: normal; color: #4b532a;"><span class="bath">{$bath}</span> full, 0 partial</td>
</tr>
<tr>
<td style="border-bottom: 1px solid #BDBCAB; font-size: 12px; font-weight: bold; color: #4b532a;">Sq Footage</td>
<td style="border-bottom: 1px solid #BDBCAB; font-size: 13px; font-weight: normal; color: #4b532a;"><span class="sqft">{$sqft}</span></td>
</tr>
<tr>
<td style="border-bottom: 1px solid #BDBCAB; font-size: 12px; font-weight: bold; color: #4b532a;">Parking</td>
<td style="border-bottom: 1px solid #BDBCAB; font-size: 13px; font-weight: normal; color: #4b532a;">{parking spots} dedicated</td>
</tr>
<tr>
<td style="border-bottom: 1px solid #BDBCAB; font-size: 12px; font-weight: bold; color: #4b532a;">Pet Policy</td>
<td style="border-bottom: 1px solid #BDBCAB; font-size: 13px; font-weight: normal; color: #4b532a;"><span class="pets">{$pets}</span></td>
</tr>
<tr>
<td style="border-bottom: 1px solid #BDBCAB; font-size: 12px; font-weight: bold; color: #4b532a;">Deposit</td>
<td style="border-bottom: 1px solid #BDBCAB; font-size: 13px; font-weight: normal; color: #4b532a;">{amount deposit}</td>
</tr>
</tbody>
</table>
<br />
<div style="color: #4b532a;"><span style="font-weight: bold;"> DESCRIPTION</span></div>
<hr style="border-top: 1px solid #BDBCAB;" noshade="noshade" size="1" />
<table style="width: 100%;" border="0" cellspacing="0" cellpadding="3">
<tbody>
<tr>
<td style="font-size: 13px; font-weight: normal; color: #5e5e56;">{property description}</td>
</tr>
</tbody>
</table>
</td>
<td valign="top" width="5">&nbsp;</td>
<td valign="top">
<table style="border: 1px solid #bdbcab; width: 100%;" border="0" cellspacing="0" cellpadding="8">
<tbody>
<tr>
<td><span class="picture">{$picture}</span></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</div>
<table style="width: 100%;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td align="center">
<table style="width: 350px;" border="0" cellspacing="0" cellpadding="1">
<tbody>
<tr>
<td style="font-size: 12px; font-weight: normal; color: #5e5e56;" align="center" height="25">see additional photos below</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td colspan="2" valign="top">
<table style="border: 1px solid #bdbcab; width: 724px; margin-left: auto; margin-right: auto;" border="0" cellspacing="0" cellpadding="4">
<tbody>
<tr>
<td align="left">
<table style="width: 100%;" border="0" cellspacing="0" cellpadding="0" align="center">
<tbody>
<tr align="center" valign="middle">
<td valign="top">
<table style="width: 100%;" border="0" cellspacing="0" cellpadding="3">
<tbody>
<tr>
<td align="left">
<div style="color: #4b532a;"><span style="font-weight: bold;">RENTAL FEATURES</span></div>
<hr style="border-top: 1px solid #BDBCAB;" noshade="noshade" size="1" />
<table style="width: 100%;" border="0" cellspacing="0" cellpadding="3">
<tbody>
<tr>
<td style="font-size: 13px; font-weight: normal; color: #5e5e56;" width="33%">- {feature}</td>
<td style="font-size: 13px; font-weight: normal; color: #5e5e56;" width="33%">- {feature}</td>
<td style="font-size: 13px; font-weight: normal; color: #5e5e56;" width="33%">- {feature}</td>
</tr>
<tr>
<td style="font-size: 13px; font-weight: normal; color: #5e5e56;" width="33%">- {feature}</td>
<td style="font-size: 13px; font-weight: normal; color: #5e5e56;" width="33%">- {feature}</td>
<td style="font-size: 13px; font-weight: normal; color: #5e5e56;" width="33%">- {feature}</td>
</tr>
<tr>
<td style="font-size: 13px; font-weight: normal; color: #5e5e56;" width="33%">- {feature}</td>
<td style="font-size: 13px; font-weight: normal; color: #5e5e56;" width="33%">- {feature}</td>
<td style="font-size: 13px; font-weight: normal; color: #5e5e56;" width="33%">- {feature}</td>
</tr>
<tr>
<td style="font-size: 13px; font-weight: normal; color: #5e5e56;" width="33%">- {feature}</td>
<td style="font-size: 13px; font-weight: normal; color: #5e5e56;" width="33%">- {feature}</td>
<td style="font-size: 13px; font-weight: normal; color: #5e5e56;" width="33%">- {feature}</td>
</tr>
<tr>
<td style="font-size: 13px; font-weight: normal; color: #5e5e56;" width="33%">- {feature}</td>
<td style="font-size: 13px; font-weight: normal; color: #5e5e56;" width="33%">- {feature}</td>
<td style="font-size: 13px; font-weight: normal; color: #5e5e56;" width="33%">- {feature}</td>
</tr>
<tr>
<td style="font-size: 13px; font-weight: normal; color: #5e5e56;" width="33%">- {feature}</td>
<td style="font-size: 13px; font-weight: normal; color: #5e5e56;" width="33%">- {feature}</td>
<td style="font-size: 13px; font-weight: normal; color: #5e5e56;" width="33%">- {feature}</td>
</tr>
<tr>
<td style="font-size: 13px; font-weight: normal; color: #5e5e56;" width="33%">- {feature}</td>
<td style="font-size: 13px; font-weight: normal; color: #5e5e56;" width="33%">- {feature}</td>
<td style="font-size: 13px; font-weight: normal; color: #5e5e56;" width="33%">- {feature}</td>
</tr>
<tr>
<td style="font-size: 13px; font-weight: normal; color: #5e5e56;" width="33%">- {feature}</td>
<td style="font-size: 13px; font-weight: normal; color: #5e5e56;" width="33%">- {feature}</td>
<td style="font-size: 13px; font-weight: normal; color: #5e5e56;" width="33%">- {feature}</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<br />
<table style="width: 100%;" border="0" cellspacing="0" cellpadding="3">
<tbody>
<tr>
<td align="left">
<div style="color: #4b532a;"><span style="font-weight: bold;">COMMUNITY FEATURES</span></div>
<hr style="border-top: 1px solid #BDBCAB;" noshade="noshade" size="1" />
<table style="width: 100%;" border="0" cellspacing="0" cellpadding="3">
<tbody>
<tr>
<td style="font-size: 13px; font-weight: normal; color: #5e5e56;" width="33%">- {feature}</td>
<td style="font-size: 13px; font-weight: normal; color: #5e5e56;" width="33%">- {feature}</td>
<td style="font-size: 13px; font-weight: normal; color: #5e5e56;" width="33%">- {feature}</td>
</tr>
<tr>
<td style="font-size: 13px; font-weight: normal; color: #5e5e56;" width="33%">- {feature}</td>
<td style="font-size: 13px; font-weight: normal; color: #5e5e56;" width="33%">- {feature}</td>
<td width="33%">&nbsp;</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<br />
<table style="width: 100%;" border="0" cellspacing="0" cellpadding="3">
<tbody>
<tr>
<td align="left">
<div style="color: #4b532a;"><span style="font-weight: bold;">LEASE TERMS</span></div>
<hr style="border-top: 1px solid #BDBCAB;" noshade="noshade" size="1" />{lease terms}</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td colspan="2" valign="top">
<table style="border: 1px solid #bdbcab; width: 724px; margin-left: auto; margin-right: auto;" border="0" cellspacing="0" cellpadding="4">
<tbody>
<tr>
<td style="text-align: center;" align="left">
<table style="width: 100%;" border="0" cellspacing="0" cellpadding="0" align="center">
<tbody>
<tr align="center" valign="middle">
<td valign="top">
<table style="width: 100%;" border="0" cellspacing="0" cellpadding="3">
<tbody>
<tr>
<td align="left" valign="top">
<div style="color: #4b532a;"><span style="font-weight: bold;">ADDITIONAL PHOTOS</span></div>
<hr style="border-top: 1px solid #BDBCAB;" noshade="noshade" size="1" />
<table style="width: 100%;" border="0" cellspacing="0" cellpadding="0" align="center">
<tbody>
<tr align="center" valign="top">
<td style="font-size: 12px; font-weight: normal; color: #5e5e56;" height="262">
<div style="padding: 2px;" align="center"><br /><span class="picture">{$picture}</span></div>
</td>
<td style="font-size: 12px; font-weight: normal; color: #5e5e56;">
<div style="padding: 2px;" align="center"><br />Photo 2</div>
</td>
</tr>
<tr align="center" valign="top">
<td style="font-size: 12px; font-weight: normal; color: #5e5e56;" height="262">
<div style="padding: 2px;" align="center"><br />Photo 3</div>
</td>
<td style="font-size: 12px; font-weight: normal; color: #5e5e56;">
<div style="padding: 2px;" align="center"><br />Photo 4</div>
</td>
</tr>
<tr align="center" valign="top">
<td style="font-size: 12px; font-weight: normal; color: #5e5e56;" height="262">
<div style="padding: 2px;" align="center"><br />Photo 5</div>
</td>
<td>&nbsp;</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td align="left" valign="top" width="50%">
<table style="border-width: 1px 2px 1px 1px; border-style: solid; border-color: #e7e6d7 #fffefd #e7e6d7 #e7e6d7; width: 350px; margin-left: auto; margin-right: auto;" border="0" cellspacing="1" cellpadding="0">
<tbody>
<tr>
<td>
<table style="width: 100%;" border="0" cellspacing="0" cellpadding="5">
<tbody>
<tr>
<td>
<div style="color: #4b532a;"><span style="font-weight: bold;"> Contact info: </span></div>
</td>
</tr>
<tr>
<td>
<table style="width: 100%;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr valign="top">
<td width="35">&nbsp;</td>
<td>
<table style="width: 100%;" border="0" cellspacing="0" cellpadding="2">
<tbody>
<tr>
<td>
<div style="color: #5e5e56;"><span class="name">{$name}</span></div>
</td>
</tr>
<tr>
<td>
<div style="color: #5e5e56;"><span class="dnis">{$dnis}</span></div>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>

<table style="width: 740px; margin-left: auto; margin-right: auto;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td align="left" valign="middle" height="20">
<div style="background-color: #4b532a; color: #ffffe0; padding: 5px; text-align: center;"><span style="font-size: small;"></span></div>
</td>
</tr>
</tbody>
</table>
</div>
