/**
* DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS HEADER.
*
* © 2010-2015 Lotus Interworks Inc. (“LIW”) Proprietary and Trade Secret.
* Do not copy distribute or otherwise use without explicit written permission from B. Gopinath President.
* Do not communicate or share the information contained herein with any one else except employees of LIW  on a need to know basis.
* LIW values its intellectual properties and excepts all those who work with LIW to protect all work, including ideas, designs, processes,
* software and documents shared or created in any engagement with LIW as proprietary to LIW.
* This document may make references to open sourced software being considered or used by LIW.
* Extensions, including modifications to such open source software are deemed proprietary and trade secret to LIW  until
* and unless LIW formally and with explicit written consent contributes specific modified open source code back to open source.
* In any event, including cases where modified open sourced components are placed in open source, the selection, interconnection,
* configuration, processes, designs, implementation of all technology, including opens source software,
* that is being developed or is part of LIW deployed systems are proprietary and trade secret to LIW and
* such information shall not be shared with any one else except employees of LIW on a need to know basis.
*
*/​

/* ==========================================================================
   Styles for communication panel elements only
   ========================================================================== */

#phoneapp{
    width:800px;
    /*border: thin darkblue;
    border-radius: 5px; */
}

/*#phoneapp input, select{
    padding: 0.5px 1px;
    margin: 1px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: medium;
}

#phoneapp input[type=button] {
    background-color: rgba(26, 27, 54, 0.38);
    font-size:14px;
    border-radius:3px;
    padding:1px;
}*/

#moddiv, #partdiv {
    margin-top: 10px;
    margin-bottom: 10px;
}

#partdiv #sessions p {
    color: blue;
    font-style: italic;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/*.roomlinks{
    margin:10px;
}*/

#tbllinks{
    border: thin;
    width: 100px;
}

.tblrow{
    padding:1px;
    border-color: brown;
}

.tblcell{
    margin:2px;
    padding:4px;
    background-color: #b3d4fc;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: darkslategray;
}

/***************** audiovideo **************/
/***************************************/
#audiovideo {
    /*position: absolute;*/
    /*top: 20px;*/
    /*left: 10px;*/   /* old value - 750 px */
    /*width: 800px;*/  /*ov - 800px */
    /*height: 380px;*/ /*ov - 480 px */
    /*padding: 2px; */ /*ov - 6px */
    background: url("../img/transparent-25-bg.png") repeat; /* image changed to show white background */
    /* No border styles required when appearing inside panel.
    border-radius: 10px;
    border: 2px solid #eee; */
    /*display: none; */
}

#audiovideo video#remote {
    width: 800px; /*ov 800px */
    height: 380px; /*ov 280 px */
    background-color: #ffffff;
}

#audiovideo video#self {
    position: absolute;
    bottom: 6px;
    left: 6px;
    width: 75px; /* ov - 100 px */
    height: 60px; /* ov - 80 px */
    background-color: #111;
    border-top: 2px solid #CCC;
    border-right: 2px solid #CCC;
}
