a {color: #FFFFFF;text-decoration: none;}
/*.displyshow {display:none;}*/
.pure-table {font-size: 90%!important;}

.yui3-skin-sam .yui3-panel .yui3-widget-bd{padding: 0px!important;}
.yui3-skin-sam .yui3-datatable-header {background: none!important;background-color: #E0E0E0!important;color: #0072C5 !important;font-weight: bold!important;font-size: 85%!important; vertical-align: middle}
.yui3-skin-sam .yui3-datatable-cell, .yui3-skin-sam .yui3-datatable-header {font-size: 80%!important; padding: 1px 10px 1px 10px}
.header-title {color: #FFF;background-color: #0072C5;}
/*.header-title {padding: 0.2em 0.2em 0.2em 10px;color: #FFF;background-color: #0072C5;}*/
.yui3-skin-sam .yui3-panel .yui3-widget-hd {background: none!important;background-color: #0072c5 !important; padding: 1px 28px 0px 8px}
.yui3-skin-sam .yui3-widget-mask {background: none!important;position: relative !important;z-index: 0 !important;}
.yui3-widget-bd {color: #000;padding: 0.2em;}
.yui3-skin-sam .yui3-panel-content {box-shadow: none !important;border-radius: 0!important;color: #12466D!important;border: 1px solid #3B8ED2!important; /*border-right: 3px solid #3B8ED2!important;  border-bottom: 3px solid #3B8ED2!important*/}
.yui3-datatable-table {border: 1px solid #C6E1F5;border-collapse: separate;border-spacing: 0;font-family: arial,sans-serif;margin: 0;padding: 0.1em 0;}
/*.yui3-skin-sam .yui3-panel .yui3-widget-hd {padding: 0px!important;}*/
.yui3-skin-sam .yui3-panel .yui3-widget-bd {border: 1px solid #3B8ED2;}
.yui3-skin-sam .yui3-panel .yui3-widget-hd .yui3-widget-buttons { padding: 3px 8px !important;}
/*.yui3-widget-hd{height: 21px;position: absolute!important;right: 0;width: 23px;}*/
.header-label {background-color: #0072C5;color: #FFFFFF;line-height: 27px;padding: 0.2em;}
.yui3-skin-sam .yui3-panel .yui3-widget-hd .yui3-button-close:before {content:none!important;content:url('../img/sprite_icons1.png')!important; }
.alignright {cursor: pointer;float: right;padding-right: 20px;width: 20px;}
/*.panelsalignright {cursor: pointer;float: right;line-height: 16px;padding-right: 20px;width: 22px;}*/
.panelsalignright {cursor: pointer;float: right;}
.checklistmenuleft {cursor: pointer;}
.yui3-skin-sam .yui3-notify .yui3-notify-message {background-color: #64B8F4!important;border-radius: 0px!important;color: #FFF!important;border: 1px solid #64B8F4!important;font-weight: bold!important;}
.yui3-skin-sam .yui3-notify .yui3-notify-message-close {background-color: #DDDDDD!important;padding: 10px!important;color: #000!important;font-weight: bold!important;font-size: 12px!important;}    
.yui3-widget-bd label {color: #428BCA !important;font-weight: bold !important;}
#loginform input {font-size: 12px;}
.arightsgreet {float: right;padding-right: 20px;}
.arightslogout {float: right;padding-right: 20px;cursor: pointer;}
#addpanel-inner th, #editpanel-inner th  {color: #0072C5!important;}
#addpanel-inner input, #editpanel-inner input {font-size: 12px;}
.inputpadding10 input{padding: 10px;}
#addpanel-inner .padding0cell, #editpanel-inner .padding0cell {padding: 0px!important;}
.save, .apply, .send, .accept {cursor: pointer;color: #0072C5;font-weight: bold;}
.clear {cursor: pointer;color: #0072C5;font-weight: bold;}
.yui3-skin-sam .yui3-datatable-header {text-shadow:none!important;}
.yui3-skin-sam .yui3-datatable-header .yui3-datatable-scroll-liner {height: 13px;}
#attachedchecklistpanel-inner .padding0cell {padding: 0px;}
#attachedchecklistpanel-inner .padding0cell input {font-size: 95%;}
.search-text-top {text-align: center;color: #0072C5 !important;font-weight: bold !important;}
.search-text-label {color: #0072C5 !important;font-weight: bold !important;}
#searchpanel-inner .padding0cell { padding-left: 0!important;padding-right: 0!important;padding-top: 0!important;padding-bottom: 0!important;}
.search-button {cursor: pointer;}

.submit-attachment, .submit-checklist, .submit-tasklist {cursor: pointer;color: #0072C5;font-weight: bold;}
#attachpaneloptions-inner a {color: #000;}
.submit-button-bottom {cursor: pointer;text-align: center;color: #0072C5;font-weight: bold;}
.attachinputbox {padding: 0px!important;}
.attachinputbox input {padding: 10px;}
#help {color: #0072C5 !important;font-weight: bold!important;}
.headings {background-color: #E0E0E0!important;color: #0072C5;font-weight: bold;}
.tasklist-attachment-title, .tasklist-title, .checklist-title, .taskchecklist-weight-title{border-bottom: 2px solid #0072C5;color: #0072C5;font-weight: bold;padding: 3px;text-align: center;}
.yui3-datatable-selected {background-color: #77FF99!important;}
.panel-link {color: blue!important; float:left;}
.chat-div {display:inline-block; vertical-align:bottom;}
.highlighted-roomheader {background-color: cornflowerblue;}
.topmenu_menu{cursor: pointer;}
.arrowup{cursor: pointer;}
.arrowdown{cursor: pointer;}
/*.yui3-skin-sam .yui3-panel .yui3-widget-hd.simplia-panel-header{padding: 8px;}*/
.yui3-skin-sam .yui3-panel .yui3-widget-hd.simplia-panel-header{padding: 5px 8px 6px 8px}
.simple-dialog-message{padding:10px;}
.col-wrap{text-overflow: ellipsis;}
.yui3-skin-sam .yui3-datatable-table{table-layout: fixed;}
/*.yui3-skin-sam .yui3-datatable-scroll-columns{table-layout: fixed;}*/
.yui3-skin-sam .yui3-panel .datatable-button{background-color: #0072C5; color: white; text-align: center;}

.yui3-datatable-table > tbody > tr {
    height:13px;
    /*overflow:hidden;*/
    /*word-wrap:break-word;*/
    text-overflow: clip;
    white-space: nowrap;
}

.yui3-widget .yui3-datatable{
    display: table-caption;
}

.rightmenu-container{
    font-size: 90%;
}
/*.yui3-widget-hd{*/
    /*padding: 5px 8px 6px 8px*/
/*}*/
/*.yui3-datatable-table > table {*/
    /*width: 100%;*/
/*}*/